.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
  }
}

.App-link {
  color: #61dafb;
}

.active {
  color: green;
}

.alert-404 {
  color: red;
  font-size: 3rem;
}

.alert-text {
  font-size: 2rem;
}

.category-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat (2, 200px) ;
  

  img {
    max-width: 100px;
  }
}

.sort {
  display: inline-block;
  font-size: 0.8em;
  cursor: pointer;
}
